<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <i class="fas fa-link fa-10x"></i>
  </div>

  <div class="mt-5 mx-auto" style="
      width: 75%;"> 
    <form method="POST" action="/" >

      {{#if duplicatedMsg}}
      <div class="alert alert-danger" role="alert">
        {{ duplicatedMsg }}
      </div>
      {{/if}}

      {{#if shortenUrl}}
      <div class="alert alert-success" role="alert">
        Success! Please use this link:
      </div>
      {{/if}}

      <div class="form-group">
        <input type="text" class="form-control" name="originUrl" placeholder="Input URL here" {{#if shortenUrl}}value="{{ shortenUrl }}"{{/if}} id="textArea" required>
      </div>

      {{#if shortenUrl}}
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="button" id="copyBtn">Copy</button>
      </div>
      {{else}}
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Shorten</button>
      </div>
      {{/if}}
      
    </form>
  </div>

</div>